$base-color: #38a1db;
$next-color: #c8e5f5;

.currency {
  text-align: right;
}

table.scroll {
  border: 1px solid $base-color;
  table-layout: fixed;
  border-collapse: collapse;
  td {
    border: 1px solid $base-color;
  }
  th {
    border: 1px solid $base-color;
    vertical-align: middle;
    background-color: $next-color;
  }
}

table.summary {
  width: 50%;
  /* border: 1px solid $base-color; */
  td.type {
    width: 20%;
    /* border: 1px solid red; */
  }
  td.cost {
    width: 25%;
    /* border: 1px solid green; */
  }
}

table.graphic {
  width: 90%;
  margin: 0 auto;
}
