/*
 *= require_tree .
 *= require_self
 *= require html5reset-1.6.1
 */
@import "base.css.scss";

body {
  width: 1000px;
  .application-area {
    width: 800px;
    margin: 0 auto;
  }
}

#nav {
  width: 792px;
  padding: 4px;
  font-size: 90%;
  margin-bottom: 4px;
  background-color: $next-color;
  table {
    width: 100%;
    tr {
      width: 100%;
    }
    td.nav-text {
      text-align: right;
      vertical-align: middle;
    }
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: $nav-text-color;
  }
  a:visited {
    color: $nav-text-color;
  }
  a:hover {
    color: $nav-text-hover-color;
  }
}

.tab-menu {
  height: 26px;
  font-size: 90%;
  ul {
    margin: 0px;
    li {
      float: left;
      display: block;
      position: relative;
    }
  }
}

.on {
  background-color: $base-color;
  width: 64px;
  height: 26px;
  margin-right: 5px;
  text-align: center;
  a {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    text-decoration: none;
  }
  a:link {
    color: $on-text-color;
  }
  a:hover {
    color: $on-text-color;
  }
  a:visited {
    color: $on-text-color;
  }
}

.off {
  background-color: $next-color;
  width: 64px;
  height: 26px;
  margin-right: 5px;
  text-align: center;
  a {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    text-decoration: none;
  }
  a:link {
    color: $off-text-color;
  }
  a:visited {
    color: $off-text-color;
  }
  a:hover {
    color: $off-text-hover-color;
  }
}

.context {
  clear: both;
  border-top   : solid 10px $base-color;
  border-left  : solid  1px $base-color;
  border-right : solid  1px $base-color;
  border-bottom: solid  1px $base-color;
  .main-area {
    width: 95%;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    //border-top   : solid 1px #165e83;
    //border-left  : solid 1px #165e83;
    //border-right : solid 1px #165e83;
    //border-bottom: solid 1px #165e83;
  }
}

p#alert {
  color: $err-color;
  font-size: 85%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5%;
}

p#notice {
  color: $inf-color;
  font-size: 85%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5%;
}
