$inf-color: #00a381;
$err-color: #c9171e;

$base-color: #38a1db;
$next-color: #c8e5f5;

$on-text-color: #ffffff;
$off-text-color: #ffffff;
$off-text-hover-color: #cccccc;
$nav-text-color: #3435ff;
$nav-text-hover-color: #000045;
$btn-text-color: #ffffff;
$btn-text-hover-color: #cccccc;
$btn-hover-background-color: #28597a;
