$inf-color: #00a381;
$err-color: #c9171e;

$base-color: #38a1db;
$next-color: #c8e5f5;

$text-color: #007bbb;

$on-text-color: #f7fcfe;
$off-text-color: #f7fcfe;
$off-text-hover-color: #f3f3f3;

$app-name-color: #007bbb;
$app-name-hover-color: #38a1db;
$pdf-link-color: #007bbb;
$pdf-link-hover-color: #38a1db;
$navigation-link-color: #007bbb;
$navigation-link-hover-color: #38a1db;

$btn-text-color: #f7fcfe;
$btn-text-hover-color: #f3f3f3;
$btn-hover-background-color: #48b1eb;
