@import "base.css.scss";

div.header-area {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1.0%;
  h1.header {
    display: inline;
    font-size: 122%;
  }
  a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}

div.expense-area {
  width: 492px;
  margin: 0 auto;
}

div.summary-area {
  width: 527px;
  margin: 0 auto;
}

div.graphic-area {
  width: 98%;
  margin: 0 auto;
}

div.balance-area {
  /* =================================== *
   * ぴったり606pxにするとヘッダ行が     *
   * なぜか605pxになってしまうため+1する *
   * =================================== */
  width: 607px;
  margin: 0 auto;
}

div.private-area {
  width: 527px;
  margin: 0 auto;
  padding-top: 20px;
}

div.nothing-area {
  width: 40%;
  margin: 0 auto;
  border: 1px solid $base-color;
  padding: 1%;
  margin-top: 30px;
  background: $next-color;
}

div.scroll-head {
  width: 100%;
}

div.scroll-body {
  width: 100%;
  height: 280px;
  overflow-x: hidden;
  overflow-y: scroll;
}

table.scroll {
  border: 1px solid $base-color;
  table-layout: fixed;
  border-collapse: collapse;
  tr.total {
    background-color: $next-color;
  }
  th {
    border: 1px solid $base-color;
    padding: 1%;
    vertical-align: middle;
    background-color: $next-color;
  }
  td {
    border: 1px solid $base-color;
    padding: 1%;
  }
  td.exp-date {
    text-align: center;
  }
  td.exp-type {
    text-align: center;
  }
  td.bln-year {
    text-align: center;
  }
  td.prv-date {
    text-align: center;
  }
}

col.exp-date { width: 120px; }
col.exp-name { width: 170px; }
col.exp-type { width:  75px; }
col.exp-cost { width: 110px; }
col.exp-scrl { width:  16px; }

col.bln-year { width:  60px; }
col.bln-earn { width: 106px; }
col.bln-bnus { width: 106px; }
col.bln-exps { width: 106px; }
col.bln-spcl { width: 106px; }
col.bln-blnc { width: 106px; }
col.bln-scrl { width:  16px; }

col.prv-date { width:  90px; }
col.prv-name { width: 180px; }
col.prv-cost { width: 120px; }
col.prv-blnc { width: 120px; }
col.prv-scrl { width:  16px; }

div.summary-pdf-area {
  width: 80%;
  margin: 0 auto;
  margin-top: -1.0%;
  margin-bottom: 1.0%;
  text-align: right;
  a.pdf-link {
    font-weight: bold;
    text-decoration: none;
  }
  a:link {
    color: $pdf-link-color;
  }
  a:visited {
    color: $pdf-link-color;
  }
  a:hover {
    color: $pdf-link-hover-color;
  }
}

table.summary {
  width: 80%;
  margin: 0 auto;
  border: 1px solid $base-color;
  border-collapse: collapse;
  th {
    width: 18%;
    border: 1px solid $base-color;
    padding: 1.2%;
    vertical-align: middle;
    background-color: $next-color;
  }
  td {
    width: 32%;
    border: 1px solid $base-color;
    padding: 1.2%;
  }
  .dummy {
    background-color: transparent;
    border-top-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }
}

hr.line {
  width: 80%;
  margin: 0.5em auto;
  background-color: $base-color;
}

#graphic {
  width: 100%;
  height: 300px;
}

tbody#balance-table-body td {
  font-size: 90%;
}

div.balance-pdf-area {
  width: 606px;
  margin: 0 auto;
  margin-top: 1.0%;
  text-align: right;
  margin-bottom: 1.0%;
  a.pdf-link {
    font-weight: bold;
    text-decoration: none;
  }
  a:link {
    color: $pdf-link-color;
  }
  a:visited {
    color: $pdf-link-color;
  }
  a:hover {
    color: $pdf-link-hover-color;
  }
}

div.upload-area {
  width: 45%;
  margin: 0 auto;
  border: 1px solid $base-color;
  padding: 1%;
  margin-top: 30px;
  background: $next-color;
}

table.upload {
  width: 90%;
  margin: 0 auto;
  td {
    padding: 1%;
  }
  td.vtxt {
    width: 75%;
  }
  td.vbtn {
    width: 25%;
    text-align: right;
  }
}

input#upd {
  display: none;
}

input#txt {
  width: 100%;
}

input#btn {
  width: 90%;
  color: $btn-text-color;
  background: $base-color;
}

input#btn:hover {
  color: $btn-text-hover-color;
  background: $btn-hover-background-color;
}

input.btn-upload {
  width: 90%;
  color: $btn-text-color;
  background: $base-color;
}

input.btn-upload:hover {
  color: $btn-text-hover-color;
  background: $btn-hover-background-color;
}

div#loading {
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f7f7f9;
  filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  opacity: 0.65;
  background-image: url('../assets/ajax-loader.gif');
  background-position: 402px 212px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*
div#uploading {
  text-align: center;
  padding-top: 26%;
  color: #000;
  font-weight: bold;
}
*/
