@import "base.css.scss";

.currency {
  text-align: right;
}

div.expense-area {
  width: 492px;
  margin: 0 auto;
}

div.summary-area {
  width: 527px;
  margin: 0 auto;
}

div.graphic-area {
  width: 80%;
  margin: 0 auto;
}

div.balance-area {
  width: 727px;
  margin: 0 auto;
}

div.private-area {
  width: 527px;
  margin: 0 auto;
}

div.expense-alert-area {
  width: 264px;
  margin: 0 auto;
  border: 1px solid $base-color;
  padding: 1%;
  background: $next-color;
}

div.balance-alert-area {
  width: 264px;
  margin: 0 auto;
  border: 1px solid $base-color;
  padding: 1%;
  background: $next-color;
}

div.private-alert-area {
  width: 264px;
  margin: 0 auto;
  border: 1px solid $base-color;
  padding: 1%;
  background: $next-color;
}

div.scroll-head {
  width: 100%;
}

div.scroll-body {
  width: 100%;
  height: 280px;
  overflow-x: hidden;
  overflow-y: scroll;
}

col.exp-date { width: 120px; }
col.exp-name { width: 170px; }
col.exp-type { width:  75px; }
col.exp-cost { width: 110px; }
col.exp-scrl { width:  16px; }

col.bln-year { width:  60px; }
col.bln-earn { width: 130px; }
col.bln-bnus { width: 130px; }
col.bln-exps { width: 130px; }
col.bln-spcl { width: 130px; }
col.bln-blnc { width: 130px; }
col.bln-scrl { width:  16px; }

col.prv-date { width:  90px; }
col.prv-name { width: 180px; }
col.prv-cost { width: 120px; }
col.prv-blnc { width: 120px; }
col.prv-scrl { width:  16px; }

td.exp-date { text-align: center; }
td.exp-type { text-align: center; }
td.bln-year { text-align: center; }
td.prv-date { text-align: center; }

table.scroll {
  border: 1px solid $base-color;
  table-layout: fixed;
  border-collapse: collapse;
  th {
    border: 1px solid $base-color;
    padding: 1%;
    vertical-align: middle;
    background-color: $next-color;
    //border-bottom-style: hidden;
  }
  td {
    border: 1px solid $base-color;
    padding: 1%;
  }
  tr.total {
    background-color: $next-color;
  }
}

.header-area {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.0%;
  h1.header {
    display: inline;
  }
  a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }
}

table.summary-table {
  width: 100%;
  border: 1px solid $base-color;
  border-collapse: collapse;
  th {
    width: 20%;
    border: 1px solid $base-color;
    padding: 1.5%;
    vertical-align: middle;
    background-color: $next-color;
  }
  td {
    width: 30%;
    border: 1px solid $base-color;
    padding: 1.5%;
  }
  td.space {
    width: 8%;
    border-top-style: hidden;
    border-bottom-style: hidden;
  }
  .dummy {
    background-color: transparent;
    border-top-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }
}

hr.line {
  margin: 0.5em 0;
  background-color: $base-color;
}

div.pdf-area {
  margin-top: 2%;
  text-align: right;
}

#graphic {
  width: 100%;
  height: 340px;
}

.upload-area {
  width: 45%;
  margin: 0 auto;
  border: 1px solid $base-color;
  padding: 1%;
  background: $next-color;
}

table.upload {
  width: 100%;
  td {
    padding: 1%;
  }
  td.vtxt {
    width: 80%;
    padding-left: 10%;
  }
  td.vbtn {
    width: 20%;
    text-align: center;
  }
  td.button {
    text-align: right;
  }
}

#upd {
  display: none;
}

#txt {
  width: 100%;
}

#btn {
  color: $btn-text-color;
  background: $base-color;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#btn:hover {
  color: $btn-text-hover-color;
  background: $btn-hover-background-color;
}

.btn-upload {
  color: $btn-text-color;
  background: $base-color;
}

.btn-upload:hover {
  color: $btn-text-hover-color;
  background: $btn-hover-background-color;
}
