<div class="upload-area">
  <h1 class="title">Upload</h1>
  <p class="alert"><%= flash[:alert] %></p>
  <%= form_tag({ controller: :ship, action: :imports, method: :post }, { id: 'form-upload', multipart: true }) do %>
    <table class="upload">
      <tr>
        <td class="input" colspan="2"><%= file_field_tag :file, id: 'upd' %></td>
      </tr>
      <tr>
        <td class="vtxt"><input id="txt" type="text" placeholder="Select your db file." readonly></td>
        <td class="vbtn"><input id="btn" type="button" value="Select"></td>
      </tr>
      <tr>
        <td class="vtxt"></td>
        <td class="vbtn"><%= submit_tag "Upload", class: 'btn-upload' %></td>
      </tr>
    </table>
  <% end %>
</div>

<script>
$(function() {
  $('#loading').hide();
  $('#btn').click(function(e) {
    e.preventDefault();
    $('#upd').click();
  });
  $('#upd').change(function() {
    $('#txt').val($('#upd').val());
  });
  $('.btn-upload').click(function(e) {
    $('#loading').show();
    /* $('#form-upload').submit(); */
  });
});
</script>
